<ng-container *transloco="let t; read: 'aboutMe'" >
  <div class="flex-1" >
    <div class="pb-5" >
      <span class="gradient-text text-left text-4xl font-semibold" >
        Murilo Rodrigues
      </span >
      <div >
        <span
          class="gradient-text text-left text-xl font-semibold opacity-50"
        >Lead Engineer at Grão Direto
        </span >
      </div >
    </div >

    <div class="text-justify" >
      <span class="text-purple-300" > </span >
    </div >

    <span class="text-lg" >{{ t("description", {years: year}) }}</span >
  </div >
</ng-container >
