<ng-container *transloco="let t" >
  <div class="flex min-h-screen flex-row items-stretch" >
    <div
      class="sticky top-0 flex max-h-screen flex-1 flex-col items-center justify-around p-10"
    >
      <app-about-me ></app-about-me >
      <app-menu [menuItem]="upperOnView()" (select)="scrollTo($event)" class="w-full" ></app-menu >
      <app-my-pages class="w-full" ></app-my-pages >
    </div >
    <div class="p-10 flex-1 flex flex-col gap-3" >
      <div #about >
        <app-about insideViewport (onView)="this.updateView(EMenuItem.about, $event)" ></app-about >
      </div >
      <div #experience >
        <app-experience insideViewport (onView)="this.updateView(EMenuItem.experience, $event)" ></app-experience >
      </div >
      <div #projects >
        <app-projects insideViewport (onView)="this.updateView(EMenuItem.projects, $event)" ></app-projects >
      </div >
    </div >
  </div >
  <div class="absolute top-2 right-2 flex gap-5 justify-end items-center">
    <button matRipple (click)="toggleLanguage(true)" class="p-2 text-purple-500">pt-BR</button>
    <span>|</span>
    <button matRipple (click)="toggleLanguage(false)" class="p-2 text-pink-500">en-US</button>
  </div>
</ng-container >
