<ng-container class="w-full" *transloco="let t; read: 'sideMenu'" >
  <ul >
    @for (item of menuItems; track item.label; let idx = $index) {
      <li
        (click)="selectItem(idx)"
        [ngClass]="{
          'menu-active': idx === selectedItemIndex()
        }"
        class="hover:menu-active relative flex h-6 w-28 cursor-pointer items-center transition-all duration-200 ease-in-out"
      >
        <div class="flex-1 border-t-2 border-purple-500 opacity-50" ></div >
        <span class="px-3 text-purple-500 opacity-60" >{{
            t(item.label)
          }}</span >
      </li >
    }
  </ul >
</ng-container >
